@using SimpleForum.Models

<div class="variable-container main-profile-container">
    <div class="profile-container">
        <div class="profile-info">
            <img class="profile-img" src="~/img/defaultprofile.png">
            <span class="profile-property">@ViewBag.User.Username</span>
            <span class="profile-property">Joined @ViewBag.User.SignupDate.ToShortDateString()</span>
            <span class="profile-property">@ViewData["PostCount"] Posts/Comments</span>
        </div>

        <span class="content-container-title">Comments</span>
        <ul class="thread-posts">
            @foreach (UserComment comment in ViewBag.User.UserPageComments)
            {
                <li class="thread-post">
                    <div class="post-user">
                        <a class="post-username" href="/User?id=@comment.UserID">@comment.User.Username</a>
                        <img class="post-profile-img" src="~/img/defaultprofile.png">
                        <span class="post-date">@comment.DatePosted.ToShortDateString()</span>
                    </div>
                    <span class="post-contents">@comment.Content</span>
                    
                    <div class="post-footer">
                        <a class="footer-link" href="javascript:void(0)">Reply</a>
                        <a class="footer-link" href="javascript:void(0)">Share</a>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>