@model UserPageViewModel
@{
    ViewData["Title"] = Model.User.Username;
}

<div class="variable-container main-profile-container">
    <div class="profile-container">
        <div class="profile-info">

            <div class="profile-info-section">
                <img class="profile-info-image" src="/Files/ProfileImg?id=@Model.User.UserID" alt="@Model.User.Username">
                <div class="profile-info-text-container">
                    <span class="profile-info-name">@Model.User.Username</span>
                    @if (Model.User.Banned)
                    {
                        <span class="ban-text profile">(banned)</span>
                    }
                    @if (Model.User.Deleted)
                    {
                        <span class="ban-text profile">(deleted)</span>
                    }
                </div>
            </div>
            <div class="profile-info-section">
                <span class="profile-bio">@Model.User.Bio</span>
            </div>
            <div class="profile-info-section">
                <span class="profile-info-text">Threads: @Model.User.Threads.Count</span>
                <span class="profile-info-text">Comments: @Model.User.Comments.Count</span>
                <span class="profile-info-text">Joined: @Model.User.SignupDate.ToShortDateString()</span>
            </div>
        </div>

        <div class="content-container-top">
            <span class="content-container-title">Comments</span>
            <div class="content-container-top-link-container">
                @if (User.Identity.IsAuthenticated && Model.CurrentUser.Role == "Admin")
                {
                    <a class="content-container-top-link" asp-action="AdminActions" asp-route-id="@Model.User.UserID">Admin actions</a>
                }
                @if (Model.User.UserID == Model.CurrentUser?.UserID)
                {
                    <a class="content-container-top-link" asp-action="CommentSettings">Comment settings</a>
                    <a class="content-container-top-link" asp-action="Edit">Edit profile</a>
                }
            </div>
        </div>

        @if (User.Identity.IsAuthenticated && Model.Page == 1)
        {
            @if (User.Identity.IsAuthenticated && Model.CurrentUser.Muted)
            {
                <div class="thread-message">
                    <h1 class="top-message-text">Your account is muted</h1>
                    <p class="top-message-text">Reason: @Model.User.MuteReason</p>
                </div>
            }
            else if (!Model.User.CommentsLocked)
            {
                <form class="post-form profile-post-form" asp-action="PostUserComment" method="post">
                    <textarea class="post-input" placeholder="Comment" name="content"></textarea>
                    <input type="hidden" name="userPageID" value="@Model.User.UserID">
                    <button class="post-button" type="submit">Post</button>
                </form>
            }
            else
            {
                <div class="thread-message">
                    <h1 class="top-message-text">The comments are locked, it is no longer open for comments or replies.</h1>
                </div>
            }
        }

        <ul class="thread-posts user-comments">
            @foreach (UserComment comment in Model.CurrentPageComments)
            {
                @await Component.InvokeAsync("Post", new PostViewModel() { Post = comment, ID = comment.ID.ToString() })
            }
        </ul>

        @if (Model.PageCount > 1)
        {
            <div class="page-links">
                @if (Model.Page == 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID">&lt;</a>
                }
                else if (Model.Page > 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID">&lt;&lt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID" asp-route-page="@(Model.Page - 1)">&lt;</a>
                }

                <p class="page-link">@Model.Page</p>

                @if (Model.PageCount - Model.Page < 2 && Model.PageCount - Model.Page > 0)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID" asp-route-page="@Model.PageCount">&gt;</a>
                }
                else if (Model.PageCount - Model.Page >= 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID" asp-route-page="@(Model.Page + 1)">&gt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@Model.User.UserID" asp-route-page="@Model.PageCount">&gt;&gt;</a>
                }
            </div>
        }
    </div>
</div>