<div class="variable-container main-profile-container">
    <div class="profile-container">
        <div class="profile-info">
            <img class="profile-img" src="~/img/defaultprofile.png">
            <span class="profile-property">@ViewBag.User.Username</span>
            <span class="profile-property">Joined @ViewBag.User.SignupDate.ToShortDateString()</span>
            <span class="profile-property">@ViewData["PostCount"] Posts/Comments</span>
        </div>

        <div class="content-container-top">
            <span class="content-container-title">Comments</span>
        </div>

        @if (User.Identity.IsAuthenticated && ViewBag.Page == 1)
        {
            <form class="post-form profile-post-form" asp-action="PostUserComment" method="post">
                <textarea class="post-input" placeholder="Comment" name="content"></textarea>
                <input type="hidden" name="userPageID" value="@ViewBag.User.UserID">
                <button class="post-button" type="submit">Post</button>
            </form>
        }

        <ul class="thread-posts">
            @foreach (UserComment comment in ViewBag.PageComments)
            {
                <li class="thread-post">
                    <div class="post-user">
                        <a class="post-username" asp-action="Index" asp-route-id="@comment.UserID">@comment.User.Username</a>
                        <img class="post-profile-img" src="~/img/defaultprofile.png">
                        <span class="post-date">
                            @comment.DatePosted.ToShortDateString()
                        @comment.DatePosted.ToShortTimeString()
                    </span>
                </div>
                <span class="post-contents">@comment.Content</span>

                <div class="post-footer">
                    <a class="footer-link" href="javascript:void(0)">Reply</a>
                    <a class="footer-link" href="javascript:void(0)">Share</a>
                </div>
            </li>
        }
        </ul>

        @if (ViewBag.PageCount > 1)
        {
            <div class="page-links">
                @if (ViewBag.Page == 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID">&lt;</a>
                }
                else if (ViewBag.Page > 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID">&lt;&lt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@(ViewBag.Page - 1)">&lt;</a>
                }

                <p class="page-link">@ViewData["Page"]</p>

                @if (ViewBag.PageCount - ViewBag.Page < 2 && ViewBag.PageCount - ViewBag.Page > 0)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@ViewData["PageCount"]">&gt;</a>
                }
                else if (ViewBag.PageCount - ViewBag.Page >= 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@(ViewBag.Page + 1)">&gt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@ViewData["PageCount"]">&gt;&gt;</a>
                }
            </div>
        }
    </div>
</div>