<div class="variable-container main-profile-container">
    <div class="profile-container">
        <div class="profile-info">

            <div class="profile-info-section">
                <span class="profile-info-name">@ViewBag.User.Username</span>
                <img class="profile-info-image" src="/img/defaultprofile.png">
            </div>
            <div class="profile-info-section">
                <span class="profile-bio">@ViewBag.User.Bio</span>
            </div>
            <div class="profile-info-section">
                <span class="profile-info-text">Threads: @ViewBag.User.Threads.Count</span>
                <span class="profile-info-text">Comments: @ViewBag.User.Comments.Count</span>
                <span class="profile-info-text">Joined: @ViewBag.User.SignupDate.ToShortDateString()</span>
            </div>
        </div>

        <div class="content-container-top">
            <span class="content-container-title">Comments</span>
            <div class="content-container-top-link-container">
                @if (ViewBag.CurrentUser.Role == "Admin")
                {
                    <a class="content-container-top-link" asp-action="AdminActions" asp-route-id="@ViewBag.User.UserID">Admin actions</a>
                }
                @if ((await AuthorizationService.AuthorizeAsync(User, "UserOwner")).Succeeded)
                {
                    <a class="content-container-top-link" asp-action="CommentSettings">Comment settings</a>
                    <a class="content-container-top-link" asp-action="Edit">Edit profile</a>
                }
            </div>
        </div>

        @if (User.Identity.IsAuthenticated && ViewBag.Page == 1)
        {
            @if (User.Identity.IsAuthenticated && ViewBag.User.Muted)
            {
                <div class="thread-message">
                    <h1 class="top-message-text">Your account is muted</h1>
                    <p class="top-message-text">Reason: @ViewBag.User.MuteReason</p>
                </div>
            }
            else if (!ViewBag.CurrentUser.CommentsLocked)
            {
                <form class="post-form profile-post-form" asp-action="PostUserComment" method="post">
                    <textarea class="post-input" placeholder="Comment" name="content"></textarea>
                    <input type="hidden" name="userPageID" value="@ViewBag.User.UserID">
                    <button class="post-button" type="submit">Post</button>
                </form>
            }
            else
            {
                <div class="thread-message">
                    <h1 class="top-message-text">The comments are locked, it is no longer open for comments or replies.</h1>
                </div>
            }
        }

        <ul class="thread-posts">
            @foreach (UserComment comment in ViewBag.PageComments)
            {
                <li class="thread-post">
                    <div class="post-user">
                        <a class="post-username" asp-action="Index" asp-route-id="@comment.UserID">@comment.User.Username</a>
                        <img class="post-profile-img" src="~/img/defaultprofile.png">
                        <span class="post-date">
                            @comment.DatePosted.ToShortDateString()
                            @comment.DatePosted.ToShortTimeString()
                        </span>
                    </div>
                    <span class="post-contents">@comment.Content</span>

                    <div class="post-footer">
                        <a class="footer-link" href="javascript:void(0)">Reply</a>
                        <a class="footer-link" href="javascript:void(0)">Share</a>
                        @if (RazorMethods.IsOwner(User, comment))
                        {
                            <form method="post">
                                <input type="hidden" name="id" value="@comment.UserCommentID">
                                <button class="footer-link" type="submit">Delete</button>
                            </form>
                        }
                    </div>
                </li>
            }
        </ul>

        @if (ViewBag.PageCount > 1)
        {
            <div class="page-links">
                @if (ViewBag.Page == 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID">&lt;</a>
                }
                else if (ViewBag.Page > 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID">&lt;&lt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@(ViewBag.Page - 1)">&lt;</a>
                }

                <p class="page-link">@ViewData["Page"]</p>

                @if (ViewBag.PageCount - ViewBag.Page < 2 && ViewBag.PageCount - ViewBag.Page > 0)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@ViewData["PageCount"]">&gt;</a>
                }
                else if (ViewBag.PageCount - ViewBag.Page >= 2)
                {
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@(ViewBag.Page + 1)">&gt;</a>
                    <a class="page-link" asp-action="Index" asp-route-id="@ViewBag.User.UserID" asp-route-page="@ViewData["PageCount"]">&gt;&gt;</a>
                }
            </div>
        }
    </div>
</div>