@using System.Security.Claims
@using Microsoft.Extensions.Options
@inject IOptions<SimpleForumConfig> options;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SimpleForum.Web</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/open-sans/open-sans.css" rel="stylesheet">
    <link href="~/lib/remix/remixicon.css" rel="stylesheet" />
</head>

<body>

<header>
    <div class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" asp-controller="Home" asp-action="Index">@options.Value.InstanceName</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Privacy</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">Terms</a>
            </li>

            <li class="nav-item icon-item right-first">
                <a class="nav-link" href="javascript:void(0)">
                    <i class="ri-notification-2-fill"></i> 
                </a>
            </li>
            
            <li class="nav-item dropdown">
                <a class="nav-link" href="javascript:void(0)">Account</a>
                <ul class="dropdown-items">
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown-item">
                            <a class="dropdown-link" asp-controller="Login" asp-action="Index">Login</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" asp-controller="Signup" asp-action="Index">Signup</a>
                        </li>
                    }
                    else if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown-item">
                            <a class="dropdown-link" asp-controller="User" asp-action="Index" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Profile</a>
                        </li>
                        <li class="dropdown-item">
                            <a class="dropdown-link" asp-controller="Login" asp-action="Logout">Logout</a>
                        </li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</header>

@RenderBody()

<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>