@using System.Security.Claims
@{
    ViewData["Title"] = "SimpleForum";
}

<div class="top-message">
    @if (!User.Identity.IsAuthenticated)
    {
        <h1 class="top-message-text">Welcome to SimpleForum.
        <a class="top-message-link" asp-controller="Signup">Signup</a> to get started</h1>
    }
    else if (!ViewBag.EmailVerified && ViewBag.EmailVerifyRequired)
    {
        <h1 class="top-message-text">Your email account is not verified.</h1>
        <p class="top-message-text">
            Some functions of the site will be unavailable until you verify your email. We have sent you an email
            containing a verification link. If you have not recieved the email please click
            <a class="top-message-link" asp-controller="Signup" asp-action="ResendVerificationEmail"
                       asp-route-userID="@User.FindFirstValue(ClaimTypes.NameIdentifier)">here</a>.
        </p>
    }
    else
    {
        <h1 class="top-message-text">Welcome to SimpleForum</h1>
    }
</div>

<div class="content-container">
    <div class="content-container-top">
        <span class="content-container-title">Threads</span>
        <a class="content-container-top-link" asp-controller="Thread" asp-action="Create">Create thread</a>
    </div>
    <ul class="content-list">
        @foreach ((Thread thread, int replies) in (IEnumerable<(Thread, int)>)ViewData["Threads"])
        {
            <li class="list-item">
                @if (thread.Pinned)
                {
                    <i class="ri-pushpin-2-fill list-item-icon"></i> 
                }
                @if (thread.Locked)
                {
                    <i class="ri-lock-fill list-item-icon"></i>
                }
                <a class="list-item-title list-item-property" asp-controller="Thread" asp-route-id="@thread.ThreadID">@thread.Title</a>
                <span class="list-item-property">@replies replies</span>
                <span class="list-item-property">@thread.DatePosted.ToShortDateString()</span>
            </li>
        }
    </ul>
    
    @if (ViewBag.PageCount != 1)
    {
        <div class="page-links">
            @if (ViewBag.Page == 2)
            {
                <a class="page-link" asp-action="Index">&lt;</a>
            }
            else if (ViewBag.Page >= 2)
            {
                <a class="page-link" asp-action="Index">&lt;&lt;</a>
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)">&lt;</a>
            }
            
            <p class="page-link">@ViewData["Page"]</p>
            
            @if (ViewBag.PageCount - ViewBag.Page < 2 && ViewBag.PageCount - ViewBag.Page > 0)
            {
                <a class="page-link" asp-action="Index" asp-route-page="@ViewData["PageCount"]">&gt;</a>
            }
            else if (ViewBag.PageCount - ViewBag.Page >= 2)
            {
                <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)">&gt;</a>
                <a class="page-link" asp-action="Index" asp-route-page="@ViewData["PageCount"]">&gt;&gt;</a>
            }
        </div>
    }
</div>