@model Thread
@{
    ViewData["Title"] = "Admin actions";
}

<div class="content-container">
    <span class="content-container-title">Admin actions</span>
    <ul class="action-list">
        <li class="action-list-item">
            @if (!Model.Deleted)
            {
                <span class="action-list-item-title">Delete the thread and its contents.</span>
                <a class="action-list-item-button" asp-action="AdminDelete" asp-route-id="@Model.ThreadID">Delete thread</a>
            }
            else
            {
                <span class="action-list-item-title">Restore the thread and its contents.</span>
                <form asp-action="Restore" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="action-list-item-button" type="submit">Restore thread</button>
                </form>
            }
        </li>
        <li class="action-list-item">
            @if (!Model.Pinned)
            {
                <span class="action-list-item-title">Pin the thread to the top of the list.</span>
                <form asp-action="Pin" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="action-list-item-button" type="submit">Pin thread</button>
                </form>
            }
            else
            {
                <span class="action-list-item-title">Unpin the thread.</span>
                <form asp-action="Unpin" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="action-list-item-button" type="submit">Unpin thread</button>
                </form>
            }
        </li>
        <li class="action-list-item">
            @if (!Model.Locked)
            {
                <span class="action-list-item-title">Lock the thread, preventing it from recieving further replies.</span>
                <form asp-action="Lock" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="action-list-item-button" type="submit">Lock thread</button>
                </form>
            }
            else
            {
                <span class="action-list-item-title">Unlock the thread, allowing it recieve replies again.</span>
                <form asp-action="Unlock" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="action-list-item-button" type="submit">Unlock thread</button>
                </form>
            }
        </li>
    </ul>
    
    @*TODO - Add html for thread preview*@
</div>