@using SimpleForum.Models

<div class="content-container">
    <span class="content-container-title">Admin actions</span>
    <ul class="action-list">
        <li class="action-list-item">
            @if (!ViewBag.Thread.Deleted)
            {
                <span class="action-list-item-title">Delete the thread and its contents.</span>
                <a class="action-list-item-button" asp-action="Delete" asp-route-id="@ViewData["ThreadID"]">Delete thread</a>
            }
            else
            {
                <span class="action-list-item-title">Restore the thread and its contents.</span>
                <a class="action-list-item-button" asp-action="Restore" asp-route-id="@ViewData["ThreadID"]">Restore thread</a>
            }
        </li>
        <li class="action-list-item">
            @if (!ViewBag.Thread.Pinned)
            {
                <span class="action-list-item-title">Pin the thread to the top of the list.</span>
                <a class="action-list-item-button" asp-action="Pin" asp-route-id="@ViewData["ThreadID"]">Pin thread</a>
            }
            else
            {
                <span class="action-list-item-title">Unpin the thread.</span>
                <a class="action-list-item-button" asp-action="Unpin" asp-route-id="@ViewData["ThreadID"]">Unpin thread</a>
            }
        </li>
        <li class="action-list-item">
            @if (!ViewBag.Thread.Locked)
            {
                <span class="action-list-item-title">Lock the thread, preventing it from recieving further replies.</span>
                <a class="action-list-item-button" asp-action="Lock" asp-route-id="@ViewData["ThreadID"]">Lock thread</a>
            }
            else
            {
                <span class="action-list-item-title">Unlock the thread, allowing it recieve replies again.</span>
                <a class="action-list-item-button" asp-action="Unlock" asp-route-id="@ViewData["ThreadID"]">Unlock thread</a>
            }
        </li>
    </ul>
    
    @*TODO - Add html for thread preview*@
</div>