@using System.Security.Claims

<div class="content-container">
    <div class="content-container-top">
        <div class="content-container-title-container">
            @if (ViewBag.Pinned)
            {
                <i class="ri-pushpin-2-fill content-container-title content-container-icon"></i> 
            }
            @if (ViewBag.Locked)
            {
                <i class="ri-lock-fill content-container-title content-container-icon"></i>
            }
            <span class="content-container-title">@ViewData["ThreadTitle"]</span>
        </div>
        <div class="content-container-top-link-container">
            @if ((await AuthorizationService.AuthorizeAsync(User, "ThreadOwner")).Succeeded)
            {
                <a class="content-container-top-link" asp-action="Delete" asp-route-id="@ViewData["ThreadID"]">Delete thread</a>
            }
            @if (ViewBag.UserRole == "Admin")
            {
                <a class="content-container-top-link" asp-action="AdminActions" asp-route-id="@ViewData["ThreadID"]">Admin actions</a>
            }
        </div>
    </div>
    <ul class="thread-posts">
        @foreach (Comment comment in (IEnumerable<Comment>)ViewData["Comments"])
        {
            <li class="thread-post">
                <div class="post-user">
                    <a class="post-username" asp-controller="User" asp-action="Index" asp-route-id="@comment.UserID">@comment.User.Username</a>
                    <img class="post-profile-img" src="~/img/defaultprofile.png">
                    <span class="post-date">@comment.DatePosted.ToShortDateString()
                                            @comment.DatePosted.ToShortTimeString()</span>
                </div>
                <span class="post-contents">@Html.RenderOutput(comment.Content)</span>
                <div class="post-footer">
                    <a class="footer-link" href="javascript:void(0)">Reply</a>
                    <a class="footer-link" href="javascript:void(0)">Share</a>
                </div>
            </li>
        }
    </ul>
    
    @if (ViewBag.Page == ViewBag.PageCount)
    {
        if (!ViewBag.Locked)
        {
            <form class="post-form" asp-action="PostComment" method="post">
                <textarea class="post-input" placeholder="Post" name="content"></textarea>
                <input type="hidden" name="threadID" value="@ViewData["ThreadID"]">
                <button class="post-button" type="submit">Post</button>
            </form>
        }
        else
        {
            <div class="thread-message">
                <h1 class="top-message-text">This thread is locked, it is no longer open for comments or replies.</h1>
            </div>
        }
    }
    
    @if (ViewBag.PageCount != 1)
    {
        <div class="page-links">
            @if (ViewBag.Page == 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]">&lt;</a>
            }
            else if (ViewBag.Page > 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]">&lt;&lt;</a>
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]" asp-route-page="@(ViewBag.Page - 1)">&lt;</a>
            }
            
            <p class="page-link">@ViewData["Page"]</p>
            
            @if (ViewBag.PageCount - ViewBag.Page < 2 && ViewBag.PageCount - ViewBag.Page > 0)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]" asp-route-page="@ViewData["PageCount"]">&gt;</a>
            }
            else if (ViewBag.PageCount - ViewBag.Page >= 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]" asp-route-page="@(ViewBag.Page + 1)">&gt;</a>
                <a class="page-link" asp-action="Index" asp-route-id="@ViewData["ThreadID"]" asp-route-page="@ViewData["PageCount"]">&gt;&gt;</a>
            }
        </div>
    }
</div>