@model ThreadViewModel
@{
    ViewData["Title"] = Model.Title;
    bool IsAuthenticated = User.Identity.IsAuthenticated;
}

<div class="content-container">
    <div class="content-container-top">
        <div class="content-container-title-container">
            @if (Model.Pinned)
            {
                <i class="ri-pushpin-2-fill content-container-title content-container-icon"></i> 
            }
            @if (Model.Locked)
            {
                <i class="ri-lock-fill content-container-title content-container-icon"></i>
            }
            <span class="content-container-title">@Model.Title</span>
        </div>
        <div class="content-container-top-link-container">
            @if ((await AuthorizationService.AuthorizeAsync(User, "ThreadOwner")).Succeeded)
            {
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="id" value="@Model.ThreadID">
                    <button class="content-container-top-link" type="submit">Delete thread</button>
                </form>
            }
            @if (IsAuthenticated && Model.User.Role == "Admin")
            {
                <a class="content-container-top-link" asp-action="AdminActions" asp-route-id="@Model.ThreadID">Admin actions</a>
            }
        </div>
    </div>
    <ul class="thread-posts">
        @foreach (Comment comment in Model.Comments)
        {
            <li class="thread-post">
                <div class="post-user">
                    <a class="post-username" asp-controller="User" asp-action="Index" asp-route-id="@comment.UserID">@comment.User.Username</a>
                    <img class="post-profile-img" src="~/img/defaultprofile.png">
                    <span class="post-date">@comment.DatePosted.ToShortDateString()
                                            @comment.DatePosted.ToShortTimeString()</span>
                </div>
                <span class="post-contents">@Html.RenderOutput(comment.Content)</span>
                <div class="post-footer">
                    <a class="footer-link" href="javascript:void(0)">Reply</a>
                    <a class="footer-link" href="javascript:void(0)">Share</a>
                    @if (RazorMethods.IsOwner(User, comment))
                    {
                        <form asp-action="DeleteComment" method="post">
                            <input type="hidden" name="id" value="@comment.ID">
                            <button class="footer-link" type="submit">Delete</button>
                        </form>
                    }
                    else if (IsAuthenticated && Model.User.Role == "Admin")
                    {
                        <a class="footer-link" asp-action="AdminDeleteComment" asp-route-id="@comment.ID">Delete (as admin)</a>
                    }
                </div>
            </li>
        }
    </ul>

    @if (Model.Page == Model.PageCount)
    {
        if (IsAuthenticated && Model.User.Muted)
        {
            <div class="thread-message">
                <h1 class="top-message-text">Your account is muted.</h1>
                <p class="top-message-text">Reason: @Model.User.MuteReason</p>
            </div>
        }
        else if (!Model.Locked)
        {
            <form class="post-form" asp-action="PostComment" method="post">
                <textarea class="post-input" placeholder="Post" name="content"></textarea>
                <input type="hidden" name="threadID" value="@Model.ThreadID">
                <button class="post-button" type="submit">Post</button>
            </form>
        }
        else
        {
            <div class="thread-message">
                <h1 class="top-message-text">This thread is locked, it is no longer open for comments or replies.</h1>
            </div>
        }
    }
    
    @if (Model.PageCount != 1)
    {
        <div class="page-links">
            @if (Model.Page == 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID">&lt;</a>
            }
            else if (Model.Page > 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID">&lt;&lt;</a>
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID" asp-route-page="@(Model.Page - 1)">&lt;</a>
            }
            
            <p class="page-link">@Model.Page</p>
            
            @if (Model.PageCount - Model.Page < 2 && Model.PageCount - Model.Page > 0)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID" asp-route-page="@Model.PageCount">&gt;</a>
            }
            else if (Model.PageCount - Model.Page >= 2)
            {
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID" asp-route-page="@(Model.Page + 1)">&gt;</a>
                <a class="page-link" asp-action="Index" asp-route-id="@Model.ThreadID" asp-route-page="@Model.PageCount">&gt;&gt;</a>
            }
        </div>
    }
</div>